@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    overflow-x: hidden;
}
/* body{
    background-image: url('./Assets/backgroundImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */

#logoimg{
    height: 20vw;

}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav{
    background-color: black;
    height: 8vw;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    box-shadow: #fffefe 1px 1px 11px;
    z-index: 1;
}


a{
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    margin-top: 3vw;
}

.main{
    background-image: url(./Assets/backgroundImage.jpg);
    background-color: black;
    height: 60vw;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 6vw;
}
#title{
    /* Spin, Cook, Savor */

position:absolute;
width: 582px;
height: 75px;
left: 9.53vw;
top: 16vw;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: -19vw;
/* identical to box height */
text-transform: uppercase;

text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.32);

}
#inputbox{
    /* Rectangle 3 */

position: absolute;
width: 20.377vw;
height: 52px;
left: 9.53vw;
top:35vw;

background: #FFFFFF;
mix-blend-mode: normal;
border-radius: 14px;
text-align: center;
font-size: 1.5vw;
text-transform: uppercase;
}

/* #search{
position: absolute;
width: 313px;
height:3vw;
margin-left: 47vw;
margin-top:100vw;
} */

#info{
    

    position: absolute;
    width: 50vw;
    height: 13.96vw;
    left: 9.53vw;
    top: 21.88vw;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw; 
    /* line-height: 2vw;  */
    text-transform: uppercase;
    

color: #FFFFFF;


}
.page-2{
    min-height: 40vw;
    /* background-image: url(./Assets/2nd\ bg.png); */
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

.randomMeal{
width: 20vw;
height: 333.25px;
margin-left: 40vw;
margin-top: 5vw;
border-radius: 14px;
color: black;
background-color: #fffefe;
overflow: hidden;

}

#img-1{
    border-radius: 20%;
    margin-right: 80vw;
    padding: 2vw;
    justify-self: center;
    overflow: hidden;
}

#search{
    margin-left: 30vw;
    margin-top: 27.2vw;
    height: 52px;
    width: 4vw;
    border-radius: 20%;
}

#randomName{
  text-align: center;
  margin-top: -1.5vw;
  text-transform: uppercase;
}

.meal{
    background-color: black;
    height: 4vw;

}

#meal{
    margin-top: 12vw;
}
.container{
    height: auto;
}
.tile{
    display: flex;
    flex-wrap: wrap;
    /* width: 5vw; */
    justify-content:space-around;
    column-gap: 3vw;
    row-gap: 8vw;
    color: #FFFFFF;
    text-align: center;
    text-overflow: ellipsis;
    line-break:strict;
    box-shadow: #fffefe 2px 2px 8px;

}

.tile h3{
    margin-left: -13vw;
    
}
.tile img{
    margin-top:2vw;
}
